[user]
	name = Adam Brodzinski
	email = adambrodzinski@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[core]
	excludesfile = /home/adam/.gitignore_global
	pager = less -x3
[alias]
  ammend = commit --amend
  b = branch
  all = commit -am
  undo = reset --soft HEAD^
[credential]
	helper = cache --timeout=2628000
[pull]
	rebase = true
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
